/Library/
/Temp/
/Logs/
/UserSettings/
/Builds/Windows/
/Builds/AntPrototype/
/Releases/*.zip
ArtSource/AntFamily/*.fbx
*.blend1
QA/Screenshots/*.tga
*.log
crash.dmp
/test-results.xml
/.tools/
/Tools/__pycache__/
